html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit
}

body {
  font-family: "Roboto", serif;;
  font-size: 1.6rem;
  line-height:1.5;
}
h1, h2, h3 {
  font-weight: 700;
  font-family: "Roboto", serif;;
  margin: 2.5rem 0;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}

img {
  max-width: 100%;
  display:block;
  margin: 0 auto;
}
.container {
  width: min(90%, 140rem);
  margin: 0 auto
}


/* Styling the header  */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

header a {
  color: black;
  text-decoration: none;
}

.siteName {
  font-size: 2.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.siteName img {
  width: 5rem;
}

#tools {
  font-size: 1.8rem;
  font-weight: 300;
}

/* Styling the nav  */

nav {
  background-color: black;
  border-radius: .5rem;
  color: white;
  padding: 1rem;
}

nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
}

nav li {
  transition: transform 0.3s ease, color 0.3s ease;
}


nav li a {
  text-decoration:  none;
  padding: .2rem;
  color: white;
  background-color: black;
  transition: color .5s ease, background-color .5s ease;
}

nav li a:hover {
  color: black;
  background-color: white;
}


/* Styling the hero and main content  */


h1 {
  text-align: center;
}

.hero {
  max-width: 100%;
  min-height: 20rem;
  margin: 0 auto;
  background-image: url(../images/vehicles/delorean.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 500px) { 
  .hero {
    min-height: 35rem;
  }
}


.hero-content {
  
  background-color: rgba(255, 255, 255, 0.868);
  text-align: center;
  color: #28B5D6;
  max-width: 40%;
  min-height: 17rem;
}

.hero-content h2 {
  font-size: 2rem;
  margin: 0;
}

.hero-content p {
  font-size: 1.5rem;

}

@media (min-width: 768px) { 
  .hero-content h2 {
    font-size: 2.5rem;
    margin: 0;
  }
  
  .hero-content p {
    font-size: 1.8rem;
  
  }
}


.action-button {
  text-decoration: none;
  color: black;
  background-color: #28B5D6;
  padding: 1.5rem;
  border-radius: 1rem;
  font-weight: 900;
}



/* Styling the upgrades and revies sect  */

.upgrades-and-reviews-sect {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 5rem;
  padding: 0 3rem;
  text-align: center;
}

.upgrades-and-reviews-sect h2 {
  margin-bottom: 5rem;
}

.card {
  padding: 2.5rem 1rem;
  box-shadow: 0 0 10px rgba(40, 182, 214, 0.315);
  border-radius: .5rem;
  margin-bottom: 2.5rem;
  width: 90%;
  text-align: center;
  font-size: 1.5rem;
}

.card:hover {
  transform:scale(1.05);
}

.upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}


.reviews li {
  text-align: left;
  font-size: 1.8rem;
  line-height: 4rem;
}

/* Styling the cards in the filtered category page  */

#inv-display {
  list-style: none;
  padding: 0; 
  
}

.card.category-card {
  box-shadow: 0 0 10px rgba(92, 93, 94, 0.315);
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

@media (min-width: 500px) { 
  .card.category-card{
    width: 60%;
  }
}


/* Styling the details page  */

.details-grid div p:nth-child(even) {
  background-color: #F6F6F6;
  padding: 1rem;
  border-radius: 1rem;
}


/* Styling the error page  */

.error-heading{
  text-align: center;
}

.error-message {
  text-align: center;
}


/* Styling the management view  */

.management-links {
  list-style: none;
  padding: 0;
  margin-left: 5rem;
}

.management-links li {
  margin-bottom: 5rem;
}

/* Styling the new classification form  */

.classification-form{
  display: flex;
  justify-content: center;
  text-align: center;
}

form label {
  font-weight: bold;
  font-size: 2rem;
}
form input {
  display: block;
  height: 3rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  border-radius: .5rem;
  border: 1px solid;
}

form span{
  display: block;
  
  color: #084a58;
}

.form-btn {
  border: none
}
.form-btn:disabled {
  background-color: #cecece;
}

.class-inv-title {
  text-align: center;
  margin-left: 0;
}

.notice {
  color: red;
  text-align: center;
  list-style: none;
}

/* Styling the new inventoru form  */

.inventory-form {
  display: flex;
  justify-content: center;
  text-align: center;

}

.inventory-form form {
  border: 2px solid #28B5D6;
  padding: 2rem;
  border-radius: 2rem;
}

select, textarea {
  display: block;
  margin: 0 auto;
}

select {
  height: 3rem;
  margin-bottom: 2rem;
  border-radius: .5rem;
}

input::placeholder {
  text-align: center;
}

input, select, textarea {
  text-align: center;
}

/* Styling the classificaiton list in the management view  */

.classifications-list li {
  margin-bottom: 3rem;
}

.management-titles, .management-p {
  text-align: center;
}

.management-p {
  margin-bottom: 5rem;
}

/* Styling the table in the vehicle management view */

#inventoryDisplay {
  width: 80%;
  border-collapse: collapse;
  margin: 0 auto;
}

#inventoryDisplay th, #inventoryDisplay td {
  border: 1px solid black;
  padding: 1.5rem;
  text-align: left ;
  text-align: center;
}

#inventoryDisplay thead {
  background-color: black;
  color: white;
  text-transform: uppercase;
}

#inventoryDisplay tbody tr:nth-child(even) {
  background-color: #cecece;
}

.tb-btn {
  font-size: 1.5rem;
  padding: .8rem;
  font-weight: normal;

}

.account-btn {
  font-weight: normal;
  font-size: 1.5rem;
  padding: 1rem;
}

/* Styling the form the account pages */

.account-form {
  text-align: center;
  margin: 0 auto;
}

.account-h1, .account-management-container {
  text-align: center;
  
  
}

.account-h1 {
  margin: 5rem auto;
}

.logout-link {
  color: rgb(93, 5, 5);
}

#tools {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.login-container {
  text-align: center;
 
}

#loginForm, .register-form {
  margin: 0 auto;
}
/* Styling the footer  */

footer {
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 1rem;
  margin-top: 5rem;
}

footer a {
  text-decoration: none;
  color: white;
}

