<% if (title) {%>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<%- messages() %>

<ul class="management-links">
    <li><a href="/inv/newClassification">Add New Classification</a></li>
    <li><a href="/inv/newInventory">Add New Inventory</a></li>
</ul>