<% if (title) {%>
    <h1 class="error-heading"><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>



<div class="error-message"> 

    
    
        <p><%= message %></p>
        <img src="/images/site/error-image.webp" alt="">

</div>


